@import "but.scss";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: o;
    box-sizing: border-box;
    touch-action: none;
}

// SCREEN / TELA
.screen {
    background-color: #2c2e31;
    color: white;
    height: 35vh;
    width: 100%;
    padding-top: 10px;

    p {
        margin: 0px;
        text-align: right;
    }

    .tela1 {
        font-size: 2.188em;
    }
    .tela2 {
        font-size: 3.125em;
        padding-top: 0.5em;
    }
}

// INPUTS / BOTÕES
.input {
    background-color: #1d1e20;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;

    .num {
        @include make-buton(#555555, white)
    }

    .opt {
        @include make-buton(#ff9100, white)
    }

    .clear {
        @include make-buton(#e63437, black)
    }

    .remove {
        @include make-buton(#555555, white)
    }

    .equal {
        @include make-buton(#00dc72, black)
    }

    .linha {
        @include make-small-button(#555555, white)
    }

}

@media screen and (min-width: 900px) {
    .body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .calculadora {
        width: 100vw;
        margin-top: 7vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: space-around;
    }

    .screen {
        width: 65vw;
    }

    .input {
        height: 50vh;
        width: 65vw;
    }
}
