.Screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: gray;
  height: 40vh;
}

.operation {
  text-align: right;
  background-color: gray;
  border: none;
  height: 20%;
}

.result {
  text-align: right;
  background-color: gray;
  border: none;
  height: 30%;
}
