* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 900;
  box-sizing: border-box;
  touch-action: pan-y;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

.screen {
  background-color: #2c2e31;
  color: white;
  height: 35vh;
  width: 100%;
  padding-top: 10px;
}
.screen p {
  margin: 0px;
  text-align: right;
}
.screen .tela1 {
  padding-top: 1em;
  font-size: 2.188em;
}
.screen .tela2 {
  font-size: 3.125em;
  padding-top: 0.5em;
}

.input {
  background-color: #1d1e20;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
}
.input .num {
  color: white;
  background: #555555;
  border: 2.5px solid #555555;
  margin: 0 1em 0;
  width: 4.2em;
  height: 4.2em;
  border-radius: 40%;
  background-image: none;
  -webkit-tap-highlight-color: transparent;
  transition-duration: 0.3s;
}
.input .num::-moz-focus-inner {
  border: 0;
}
.input .num:active {
  background-color: white;
  color: black;
}
.input .opt {
  color: black;
  background: #ff9100;
  border: 2.5px solid #ff9100;
  margin: 0 1em 0;
  width: 4.2em;
  height: 4.2em;
  border-radius: 40%;
  background-image: none;
  -webkit-tap-highlight-color: transparent;
  transition-duration: 0.3s;
}
.input .opt::-moz-focus-inner {
  border: 0;
}
.input .opt:active {
  background-color: white;
  color: black;
}
.input .clear {
  color: black;
  background: #e63437;
  border: 2.5px solid #e63437;
  margin: 0 1em 0;
  width: 4.2em;
  height: 4.2em;
  border-radius: 40%;
  background-image: none;
  -webkit-tap-highlight-color: transparent;
  transition-duration: 0.3s;
}
.input .clear::-moz-focus-inner {
  border: 0;
}
.input .clear:active {
  background-color: white;
  color: black;
}
.input .remove {
  color: white;
  background: #7D7D7D;
  border: 2.5px solid #7D7D7D;
  margin: 0 1em 0;
  width: 4.2em;
  height: 4.2em;
  border-radius: 40%;
  background-image: none;
  -webkit-tap-highlight-color: transparent;
  transition-duration: 0.3s;
}
.input .remove::-moz-focus-inner {
  border: 0;
}
.input .remove:active {
  background-color: white;
  color: black;
}
.input .equal {
  color: black;
  background: #00dc72;
  border: 2.5px solid #00dc72;
  margin: 0 1em 0;
  width: 4.2em;
  height: 4.2em;
  border-radius: 40%;
  background-image: none;
  -webkit-tap-highlight-color: transparent;
  transition-duration: 0.3s;
}
.input .equal::-moz-focus-inner {
  border: 0;
}
.input .equal:active {
  background-color: white;
  color: black;
}
.input .linha {
  color: white;
  background: #373737;
  border: 2.5px solid #373737;
  margin: 0 1em 0;
  width: 4.2em;
  height: 2.3em;
  border-radius: 16px;
  background-image: none;
  -webkit-tap-highlight-color: transparent;
  transition-duration: 0.3s;
}
.input .linha::-moz-focus-inner {
  border: 0;
}
.input .linha:active {
  background-color: white;
  color: black;
  outline: 0;
}
.input .linha2 {
  color: white;
  background: #414141;
  border: 2.5px solid #414141;
  margin: 0 1em 0;
  width: 4.2em;
  height: 4.2em;
  border-radius: 40%;
  background-image: none;
  -webkit-tap-highlight-color: transparent;
  transition-duration: 0.3s;
}
.input .linha2::-moz-focus-inner {
  border: 0;
}
.input .linha2:active {
  background-color: white;
  color: black;
}
.input .switch {
  position: relative;
  top: -5px;
  display: inline-block;
  width: 56px;
  height: 30.6px;
  margin: 0 13px;
}
.input .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.input .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: -3.5px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 30.6px;
}
.input .slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.input input:checked + .slider {
  background-color: #2196F3;
}
.input input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.input input:checked + .slider:before {
  -webkit-transform: translateX(23.5px);
  -ms-transform: translateX(23.5px);
  transform: translateX(23.5px);
}
.input .slider.round {
  border-radius: 34px;
}
.input .slider.round:before {
  border-radius: 50%;
}

@media screen and (min-width: 900px) {
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .calculadora {
    width: 100vw;
    margin-top: 7vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
  }

  .screen {
    width: 65vw;
  }

  .input {
    height: 50vh;
    width: 65vw;
  }
}

/*# sourceMappingURL=index.css.map */
