.Keyboard {
  padding-top: .5rem;
  background-color: black;
  height: 60vh;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  justify-content: space-around;
  align-items: center;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

.Button {
  background-color: gray;
  color: white;
  border: none;
  border-radius: .9rem;
  padding: 1rem 1.25rem;
  font-size: 1.4rem;
}
