.Keyboard {
  padding-top: .5rem;
  background-color: black;
  height: 60vh;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  justify-content: space-around;
  align-items: center;
}
