.App {
    height: 100vh;
}

.Screen {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 30%;
}

.Screen input {
    height: 30%;
    border: none;
    font-size: 1.5rem;
}

.Screen textarea {
    height: 70%;
    border: none;
    font-size: 2rem;
    resize: none;
}

.Keyboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
}

.button-line {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button-line button {
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
}