.Screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 40vh;
}

.operation {
  background-color: var(--black);
  color: white;
  text-align: right;
  border: none;
  height: 30%;
  font-size: 2.5rem;
  resize: none;
}

.result {
  background-color: var(--black);
  color: white;
  text-align: right;
  border: none;
  height: 40%;
  font-size: 3.5rem;
  resize: none;
}

.Keyboard {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--light-black);
  border-radius: 2.5rem 2.5rem 0 0;
  height: 60vh;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 5px;
  justify-content: space-around;
  align-items: center;
}

button,
input,
optgroup,
select,
textarea {
  outline: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.Button {
  max-width: 3.5rem;
  max-height: 3.5rem;
  background-color: var(--gray);
  color: white;
  border: none;
  border-radius: 0.9rem;
  padding: 1rem 1.25rem;
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  transition-timing-function: ease-in-out;
}

.Button:active {
  background-color: white;
  color: black;
}

@media (min-width: 1281px) {
  .App {
    display: flex;
    flex-direction: row;
    height: 70vh;
    width: 70vw;

    background-color: var(--light-black);

    padding: 1rem;
    border-radius: 25px;
  }

  .Keyboard {
    height: 100%;
    width: 40%;
  }

  .Screen {
    height: 100%;
    width: 60%;
    border-right: 1px solid var(--white);
  }

  .operation {
    background: var(--light-black);
  }

  .result {
    background: var(--light-black);
  }
}
