body {
  background-color: var(--black);
}


@media (min-width:1281px) {
  #root {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
  }
}